* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body {
    height: 100%;
    padding-top: 80px;
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #141414;
    top: 0;
    z-index: 999;
}

#header-left {
    width: 60%;
    height: 100%;
    float: left;
}
#logo-container {
    width: 15%;
    padding: 13px 10px;
    float: left;
}

#logo {
    width: 100%;
    height: 50px;
}

#header-right {
    height: 100%;
    width: 40%;
    float: right;
    margin: auto;
}

#return-box {
    width: 20%;
    float: right;
    padding: 30.5px 0;
}

#return-box a {
    color: white;
    text-decoration: none;
}

#search {
    width: 50%;
    float: right;
    padding: 24px 20px;
}

#search-icon {
    float: left;
    width: 20%;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    border-right: none;
    color: white;
    padding: 5.5px 0;
    cursor: pointer;
}

#search-bar {
    float: left;
    width: 70%;
}

#search-bar input {
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding-left: 10px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.none {
    display: none;
}

.active {
    display: block;
}

.film-home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 40px;
}

.entry {
    width: calc(12.5%);
    background-color: black;
    z-index: 10;
    position: relative;
    overflow-y: hidden;
    padding: 2px;
    height: fit-content;
}

.entry span {
    color: grey;
    font-size: 14px;
}

.entry p i {
    color: yellow;
}

.form-control.active {
    width: 200px;
}

.form-control:focus {
    width: 200px;
}

.entry .overview, .original, .lingua, .cast, .entry-hover > span:first-of-type {
    display: none;
}
.entry i {
    padding: 0;
}

.entry-hover span, .entry-hover p {
    width: 100%;
}

.copertina {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entry-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.entry:hover {
    transform: scale(1.05);
    transition: all 0.8s;
    z-index: 11;
}

.entry:hover .copertina {
    opacity: 0.2;
    transition: opacity 1s;
}

.entry:hover .entry-hover {
    opacity: 1;
    transition: opacity 1s;
}

.entry-hover > span {
    display: block;
}

.overview span {
    display: block;
}

.entry p, .entry h4, .entry span, .entry i {
    padding: 2px;
}
.entry p, .entry h4 {
    font-size: 14px;
}

.entry span, .entry i {
    font-size: 12px;
}
